%boards-selector{ "inline-template" => true,
  ":current-board" => current_board_json,
  "milestone-path" => namespace_project_milestones_path(board.project.namespace, board.project, :json) }
  .dropdown
    %button.dropdown-menu-toggle{ "@click" => "loadBoards",
      data: { toggle: "dropdown" } }
      {{ board.name }}
      = icon("chevron-down")
    .dropdown-menu{ ":class" => "{ 'is-loading': loading }" }
      .dropdown-title
        %button.dropdown-title-button.dropdown-menu-back{ type: "button",
          aria: { label: "Go back" },
          "@click.stop.prevent" => "showPage('')",
          "v-if" => "currentPage !== ''" }
          = icon("arrow-left")
        {{ title }}
        %button.dropdown-title-button.dropdown-menu-close{ type: "button",
          aria: { label: "Close" } }
          = icon("times", class: "dropdown-menu-close-icon")
      .dropdown-content{ "v-if" => "currentPage === ''" }
        %ul{ "v-if" => "!loading" }
          %li{ "v-for" => "board in boards" }
            %a{ ":href" => "'#{namespace_project_boards_path(@project.namespace, @project)}/' + board.id" }
              {{ board.name }}
      .dropdown-loading{ "v-if" => "loading" }
        = icon("spin spinner")
      - if can?(current_user, :admin_board, @project)
        %board-selector-form{ "inline-template" => true,
          ":milestone-path" => "milestonePath",
          "v-if" => "currentPage === 'new' || currentPage === 'edit' || currentPage === 'milestone'" }
          = render "projects/boards/components/form"
        .dropdown-content.board-selector-page-two{ "v-if" => "currentPage === 'delete'" }
          %p
            Are you sure you want to delete this board?
          .board-delete-btns.clearfix
            = link_to namespace_project_board_path(@project.namespace, @project, board),
              class: "btn btn-danger pull-left",
              method: :delete do
              Delete
            %button.btn.btn-default.pull-right{ type: "button",
              "@click.stop.prevent" => "showPage('')" }
              Cancel
      - if can?(current_user, :admin_board, @project)
        .dropdown-footer{ "v-if" => "currentPage === ''" }
          %ul.dropdown-footer-list
            %li
              %a{ "href" => "#", "@click.stop.prevent" => "showPage('new')" }
                Create new board
            %li
              %a{ "href" => "#", "@click.stop.prevent" => "showPage('edit')" }
                Edit board name
            - if @project.feature_available?(:issue_board_milestone, current_user)
              %li
                %a{ "href" => "#", "@click.stop.prevent" => "showPage('milestone')" }
                  Edit board milestone
            %li{ "v-if" => "showDelete" }
              %a.text-danger{ "href" => "#", "@click.stop.prevent" => "showPage('delete')" }
                Delete board
