%li{ id: dom_id(issue), class: issue_css_classes(issue), url: issue_path(issue), data: { labels: issue.label_ids, id: issue.id } }
  .issue-box
    - if @can_bulk_update
      .issue-check.hidden
        = check_box_tag dom_id(issue, "selected"), nil, false, 'data-id' => issue.id, class: "selected_issue"
    .issue-info-container
      .issue-main-info
        .issue-title.title
          %span.issue-title-text
            = confidential_icon(issue)
            = link_to issue.title, issue_path(issue)
          - if issue.tasks?
            %span.task-status.hidden-xs
              &nbsp;
              = issue.task_status

        .issuable-info
          %span.issuable-reference
            #{issuable_reference(issue)}
          %span.issuable-authored.hidden-xs
            &middot;
            opened #{time_ago_with_tooltip(issue.created_at, placement: 'bottom')}
            by #{link_to_member(@project, issue.author, avatar: false)}
          - if issue.milestone
            %span.issuable-milestone.hidden-xs
              &nbsp;
              = link_to namespace_project_issues_path(issue.project.namespace, issue.project, milestone_title: issue.milestone.title) do
                = icon('clock-o')
                = issue.milestone.title
          - if issue.due_date
            %span.issuable-due-date.hidden-xs{ class: "#{'cred' if issue.overdue?}" }
              &nbsp;
              = icon('calendar')
              = issue.due_date.to_s(:medium)
          - if issue.labels.any?
            &nbsp;
            - issue.labels.each do |label|
              = link_to_label(label, subject: issue.project, css_class: 'label-link')

          - if issue.weight
            %span.issuable-weight
              &nbsp;
              = icon('balance-scale')
              = issue.weight

      .issuable-meta
        %ul.controls
          - if issue.closed?
            %li.issuable-status
              CLOSED
          - if issue.assignees.any?
            %li
              = render 'shared/issuable/assignees', project: @project, issue: issue

          = render 'shared/issuable_meta_data', issuable: issue

        .pull-right.issuable-updated-at.hidden-xs
          %span updated #{time_ago_with_tooltip(issue.updated_at, placement: 'bottom', html_class: 'issue_update_ago')}
