- page_title       @project.name_with_namespace
- page_description @project.description    unless page_description
- header_title     project_title(@project) unless header_title
- if show_new_nav?
  - nav            "new_project_sidebar"
  - @new_sidebar    = true
- else
  - nav            "project"

- content_for :project_javascripts do
  - project = @target_project || @project
  - if current_user
    :javascript
      window.uploads_path = "#{namespace_project_uploads_path project.namespace,project}";
      window.preview_markdown_path = "#{preview_markdown_path(project)}";

- content_for :header_content do
  .js-dropdown-menu-projects
    .dropdown-menu.dropdown-select.dropdown-menu-projects
      = dropdown_title("Go to a project")
      = dropdown_filter("Search your projects")
      = dropdown_content
      = dropdown_loading

= render template: "layouts/application"
